.Wind {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("/public/had.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.Wind-header {
  text-align: center;
  color: #fff;
}

.logo {
  width: 150px;
  height: 150px;
  margin: 20px 0;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 20px;
  left: 20px;
}

.title1 {
  font-size: 9rem;
  margin-bottom: 100px;
  color: #08315e;
}

.subtitle {
  font-size: 6rem;
  margin-bottom: 90px;
  /* Negative margin to move the subtitle further up */
  color: #0f0780;
}

.start-button {
  padding: 12px 24px;
  font-size: 1.2rem;
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
  /* Ajout d'une marge à droite pour séparer les boutons */
}

.start-button+.start-button {
  margin-left: 5px;
  /* Ajout d'une marge à gauche pour créer un espace entre les boutons */
}

.start-button:hover {
  background-color: #0f0780;
}